@import url(https://fonts.google.com/specimen/JetBrains+Mono);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
}

body {
    padding-top: 50px; /* Ajusta o espaço para o menu fixo */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('/img/test03.png') no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.wrapper {
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px); /*deixa o fundo com borrao*/
    box-shadow: 0 0 10px rgba(0,0,0, .2); 
    color: white;
    border-radius: 10px; /*bordas redondas login*/
    padding: 30px 40px; /*aumentado espacamento do login*/
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
    color: white;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #fff;
    color: rgba(255, 255, 255, 0.5); /* deixa o "Usuário" transparente */
}

.input-box i {
    position: absolute;
    right: 7px; /* posicao do icone */
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;
}

.wrapper .lembrar {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px; /*espacamento entre senha e lembrardemim/esqueceu senha*/
}

.lembrar label input {
    accent-color: #fff;
    margin-right: 3px;
}

.lembrar a {
    color: #fff;
    text-decoration: none; /*remove sublinhado do link*/
}

.lembrar a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0, .1);
    cursor: pointer;
    font-size: #333;
    font-weight: 600;
}

.wrapper .registro-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 20px; /*espacamento do "Não tem conta? Registre-se"*/
}

.registro-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.registro-link p a:hover {
    text-decoration: underline;
}

#mensagemErro {
    text-align: center;
}

.login-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 20px; /*espacamento do "Não tem conta? Registre-se"*/
}

.login-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.login-link p a:hover {
    text-decoration: underline;
}

/*Menu*/

header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.nav-logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ff9;
}

.nav-login a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-login a:hover {
    background-color: #fff;
    color: #000;
}


/*Esqueci senha pag*/
.wrapper h1 {
    font-size: 36px;
    text-align: center;
    color: white;
}

.input-box i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
}